# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        enderio:block_not_pasture_dark_fused_glass:10
        enderio:block_not_holy_enlightened_fused_glass:4
        enderio:block_not_holy_enlightened_fused_glass:3
        enderio:block_not_holy_enlightened_fused_glass:2
        enderio:block_not_holy_enlightened_fused_glass:1
        enderio:block_not_holy_enlightened_fused_glass:8
        enderio:block_not_pasture_dark_fused_glass:15
        enderio:block_not_holy_enlightened_fused_glass:7
        enderio:block_not_holy_fused_glass:11
        enderio:block_not_holy_enlightened_fused_glass:6
        chisel:glasspanedyedred
        enderio:block_not_holy_fused_glass:10
        enderio:block_not_holy_enlightened_fused_glass:5
        enderio:block_not_holy_fused_glass:13
        enderio:block_not_pasture_dark_fused_glass:11
        enderio:block_not_holy_fused_glass:12
        enderio:block_not_pasture_dark_fused_glass:12
        enderio:block_not_holy_fused_glass:15
        enderio:block_not_pasture_dark_fused_glass:13
        enderio:block_not_holy_fused_glass:14
        enderio:block_not_holy_enlightened_fused_glass:9
        enderio:block_not_pasture_dark_fused_glass:14
        enderio:block_not_pasture_fused_glass:11
        enderio:block_not_pasture_fused_glass:10
        enderio:block_not_pasture_fused_glass:13
        enderio:block_not_pasture_fused_glass:12
        enderio:block_pasture_dark_fused_glass:14
        enderio:block_pasture_dark_fused_glass:13
        enderio:block_pasture_dark_fused_glass:12
        enderio:block_pasture_dark_fused_glass:11
        enderio:block_pasture_dark_fused_glass:10
        chisel:waterstone2
        chisel:glasspanedyedlime
        enderio:block_not_pasture_fused_glass:15
        enderio:block_not_pasture_fused_glass:14
        enderio:block_pasture_enlightened_fused_glass:11
        enderio:block_pasture_enlightened_fused_glass:10
        enderio:block_pasture_enlightened_fused_glass:13
        enderio:block_pasture_enlightened_fused_glass:12
        enderio:block_pasture_enlightened_fused_glass:15
        enderio:block_pasture_enlightened_fused_glass:14
        twilightforest:trans_door
        enderio:block_not_pasture_enlightened_fused_glass:9
        enderio:block_not_pasture_enlightened_fused_glass:7
        enderio:block_not_pasture_enlightened_fused_glass:8
        chisel:planks-oak
        chisel:glasspanedyedyellow
        enderio:block_not_pasture_enlightened_fused_glass:5
        enderio:block_not_pasture_enlightened_fused_glass:6
        enderio:block_not_pasture_enlightened_fused_glass:3
        enderio:block_not_pasture_enlightened_fused_glass:4
        enderio:block_not_pasture_enlightened_fused_glass:1
        enderio:block_not_pasture_enlightened_fused_glass:2
        chisel:glassdyedlightgray
        twilightforest:sort_door
        agricraft:grate
        enderio:block_not_pasture_dark_fused_glass:6
        enderio:block_not_pasture_dark_fused_glass:7
        enderio:block_not_pasture_dark_fused_glass:4
        enderio:block_not_pasture_dark_fused_glass:5
        rftools:syringe
        enderio:block_not_pasture_dark_fused_glass:2
        enderio:block_not_pasture_dark_fused_glass:3
        enderio:block_not_pasture_dark_fused_glass:1
        chisel:waterstone:2
        chisel:waterstone:3
        chisel:waterstone:1
        chisel:waterstone:6
        chisel:waterstone:7
        enderio:block_not_pasture_dark_fused_glass:8
        chisel:waterstone:4
        enderio:block_not_pasture_dark_fused_glass:9
        chisel:waterstone:5
        chisel:glassdyedpink
        chisel:waterstone:8
        chisel:waterstone:9
        enderio:block_holy_fused_glass:13
        enderio:block_holy_fused_glass:12
        enderio:block_holy_fused_glass:15
        enderio:block_holy_fused_glass:14
        enderio:block_holy_fused_glass:11
        enderio:block_holy_fused_glass:10
        enderio:block_holy_enlightened_fused_glass:15
        enderio:block_holy_enlightened_fused_glass:14
        enderio:block_pasture_fused_glass:9
        enderio:block_holy_enlightened_fused_glass:11
        enderio:block_holy_enlightened_fused_glass:10
        enderio:block_holy_enlightened_fused_glass:13
        chisel:glasspanedyedblue
        enderio:block_holy_enlightened_fused_glass:12
        enderio:block_pasture_fused_glass:3
        enderio:block_pasture_fused_glass:4
        enderio:block_pasture_fused_glass:1
        enderio:block_pasture_fused_glass:2
        enderio:block_pasture_fused_glass:7
        enderio:block_pasture_fused_glass:8
        enderio:block_pasture_fused_glass:5
        enderio:block_pasture_fused_glass:6
        thermalexpansion:morb
        enderio:block_fused_quartz:13
        enderio:block_pasture_enlightened_fused_glass:2
        enderio:block_fused_quartz:12
        enderio:block_pasture_enlightened_fused_glass:1
        enderio:block_fused_quartz:11
        enderio:block_fused_quartz:10
        enderio:block_pasture_enlightened_fused_glass:6
        enderio:block_pasture_enlightened_fused_glass:5
        enderio:block_fused_quartz:15
        enderio:block_pasture_enlightened_fused_glass:4
        enderio:block_fused_quartz:14
        enderio:block_pasture_enlightened_fused_glass:3
        twilightforest:mine_door
        enderio:block_dark_fused_glass:2
        enderio:block_dark_fused_glass:1
        enderio:block_pasture_enlightened_fused_glass:9
        enderio:block_dark_fused_glass:4
        enderio:block_pasture_enlightened_fused_glass:8
        enderio:block_dark_fused_glass:3
        enderio:block_pasture_enlightened_fused_glass:7
        enderio:block_dark_fused_glass:6
        chisel:glasspanedyedlightgray
        enderio:block_dark_fused_glass:5
        enderio:block_dark_fused_glass:8
        enderio:block_unholy_dark_fused_glass:1
        enderio:block_dark_fused_glass:7
        enderio:block_unholy_dark_fused_glass:2
        enderio:block_unholy_dark_fused_glass:3
        enderio:block_dark_fused_glass:9
        enderio:block_unholy_dark_fused_glass:4
        enderio:block_unholy_dark_fused_glass:5
        enderio:block_unholy_dark_fused_glass:6
        enderio:block_pasture_dark_fused_glass:15
        enderio:block_unholy_dark_fused_glass:7
        enderio:block_unholy_dark_fused_glass:8
        enderio:block_unholy_dark_fused_glass:9
        enderio:block_unholy_fused_glass:10
        enderio:block_not_unholy_fused_glass:1
        enderio:block_unholy_fused_glass:11
        enderio:block_unholy_fused_glass:12
        enderio:block_not_unholy_enlightened_fused_glass:10
        enderio:block_not_unholy_enlightened_fused_glass:14
        refinedstorage:cover
        enderio:block_not_unholy_enlightened_fused_glass:13
        enderio:block_not_unholy_enlightened_fused_glass:12
        enderio:block_not_unholy_enlightened_fused_glass:11
        chisel:glassdyedgreen
        enderio:block_not_unholy_enlightened_fused_glass:15
        enderio:block_not_unholy_fused_glass:8
        enderio:block_not_unholy_fused_glass:9
        enderio:block_not_unholy_fused_glass:6
        enderio:block_not_unholy_fused_glass:7
        enderio:block_unholy_fused_glass:13
        enderio:block_not_unholy_fused_glass:4
        enderio:block_unholy_fused_glass:14
        enderio:block_not_unholy_fused_glass:5
        enderio:block_unholy_fused_glass:15
        enderio:block_not_unholy_fused_glass:2
        chisel:glassdyedwhite
        enderio:block_not_unholy_fused_glass:3
        enderio:block_holy_fused_glass:1
        enderio:block_holy_fused_glass:2
        enderio:block_holy_fused_glass:3
        enderio:block_holy_fused_glass:4
        enderio:block_holy_fused_glass:5
        enderio:block_holy_fused_glass:6
        chisel:glasspanedyedblack
        chisel:glassdyedblack
        enderio:block_not_pasture_fused_glass:9
        enderio:block_not_pasture_fused_glass:6
        enderio:block_not_pasture_fused_glass:5
        enderio:block_not_pasture_fused_glass:8
        enderio:block_not_pasture_fused_glass:7
        enderio:block_holy_fused_glass:7
        enderio:block_not_pasture_fused_glass:2
        enderio:block_holy_fused_glass:8
        enderio:block_not_pasture_fused_glass:1
        enderio:block_holy_fused_glass:9
        enderio:block_not_pasture_fused_glass:4
        enderio:block_not_pasture_fused_glass:3
        chisel:glassdyedlime
        thermalexpansion:florb
        enderio:block_unholy_enlightened_fused_glass:2
        enderio:block_unholy_enlightened_fused_glass:3
        enderio:block_pasture_fused_glass:15
        enderio:block_not_unholy_dark_fused_glass:11
        enderio:block_unholy_enlightened_fused_glass:1
        enderio:block_pasture_fused_glass:14
        enderio:block_not_unholy_dark_fused_glass:10
        enderio:block_unholy_enlightened_fused_glass:6
        enderio:block_pasture_fused_glass:13
        enderio:block_not_unholy_dark_fused_glass:2
        enderio:block_not_unholy_dark_fused_glass:13
        enderio:block_unholy_enlightened_fused_glass:7
        enderio:block_pasture_fused_glass:12
        enderio:block_not_unholy_dark_fused_glass:1
        enderio:block_not_unholy_dark_fused_glass:12
        enderio:block_unholy_enlightened_fused_glass:4
        enderio:block_pasture_fused_glass:11
        enderio:block_not_unholy_dark_fused_glass:15
        enderio:block_unholy_enlightened_fused_glass:5
        enderio:block_pasture_fused_glass:10
        enderio:block_not_unholy_dark_fused_glass:14
        enderio:block_not_unholy_dark_fused_glass:6
        enderio:block_not_unholy_dark_fused_glass:5
        enderio:block_not_unholy_dark_fused_glass:4
        enderio:block_not_unholy_dark_fused_glass:3
        enderio:block_not_unholy_dark_fused_glass:9
        enderio:block_not_unholy_dark_fused_glass:8
        enderio:block_not_unholy_dark_fused_glass:7
        enderio:block_holy_dark_fused_glass:1
        enderio:block_holy_dark_fused_glass:5
        enderio:block_holy_dark_fused_glass:15
        chisel:glass1
        enderio:block_holy_dark_fused_glass:4
        enderio:block_holy_dark_fused_glass:3
        enderio:block_holy_dark_fused_glass:13
        enderio:block_holy_dark_fused_glass:2
        enderio:block_holy_dark_fused_glass:14
        enderio:block_holy_dark_fused_glass:11
        enderio:block_holy_dark_fused_glass:12
        enderio:block_holy_dark_fused_glass:10
        enderio:block_unholy_fused_glass:8
        enderio:block_unholy_fused_glass:9
        enderio:block_unholy_fused_glass:6
        enderio:block_unholy_fused_glass:7
        enderio:block_holy_dark_fused_glass:9
        enderio:block_unholy_fused_glass:4
        enderio:block_holy_dark_fused_glass:8
        enderio:block_unholy_fused_glass:5
        enderio:block_holy_dark_fused_glass:7
        enderio:block_unholy_fused_glass:2
        enderio:block_holy_dark_fused_glass:6
        enderio:block_unholy_fused_glass:3
        twilightforest:time_door
        enderio:block_unholy_fused_glass:1
        enderio:block_unholy_enlightened_fused_glass:8
        enderio:block_unholy_enlightened_fused_glass:9
        chisel:glass
        enderio:block_fused_quartz:9
        enderio:block_fused_quartz:7
        enderio:block_fused_quartz:8
        enderio:block_fused_quartz:5
        enderio:block_fused_quartz:6
        chisel:glassdyedblue
        refinedstorage:hollow_cover
        enderio:block_fused_quartz:3
        enderio:block_fused_quartz:4
        enderio:block_fused_quartz:1
        enderio:block_fused_quartz:2
        chisel:glasspanedyedgreen
        chisel:planks-spruce
        enderio:block_enlightened_fused_glass:9
        enderio:block_enlightened_fused_glass:8
        enderio:block_enlightened_fused_glass:7
        enderio:block_enlightened_fused_glass:6
        chisel:glassdyedred
        enderio:block_enlightened_fused_glass:5
        enderio:block_enlightened_fused_glass:4
        enderio:block_enlightened_fused_glass:3
        enderio:block_enlightened_fused_glass:2
        chisel:glasspanedyedcyan
        enderio:block_enlightened_fused_glass:1
        chisel:planks-jungle
        chisel:glasspanedyedwhite
        chisel:glasspanedyedmagenta
        enderio:block_not_holy_fused_glass:2
        enderio:block_not_holy_fused_glass:1
        enderio:block_not_holy_fused_glass:9
        enderio:block_not_holy_fused_glass:8
        enderio:block_not_holy_fused_glass:7
        enderio:block_not_holy_fused_glass:6
        enderio:block_not_holy_fused_glass:5
        enderio:block_not_holy_fused_glass:4
        enderio:block_not_holy_fused_glass:3
        enderio:block_fused_glass:15
        enderio:block_fused_glass:14
        enderio:block_fused_glass:13
        enderio:block_fused_glass:12
        enderio:block_fused_glass:11
        enderio:block_fused_glass:10
        chisel:glassdyedcyan
        chisel:glasspanedyedpink
        agricraft:water_channel_normal
        chisel:glassdyedlightblue
        chisel:planks-birch
        chisel:waterstone:14
        chisel:waterstone:13
        chisel:waterstone:12
        chisel:waterstone:11
        chisel:waterstone:15
        chisel:waterstone:10
        chisel:glasspanedyedgray
        chisel:glasspanedyedpurple
        chisel:planks-acacia
        enderio:block_not_holy_dark_fused_glass:12
        enderio:block_not_holy_dark_fused_glass:11
        enderio:block_dark_fused_glass:14
        enderio:block_not_holy_enlightened_fused_glass:15
        enderio:block_not_holy_dark_fused_glass:10
        enderio:block_dark_fused_glass:15
        enderio:block_unholy_enlightened_fused_glass:15
        enderio:block_not_holy_enlightened_fused_glass:14
        enderio:block_unholy_enlightened_fused_glass:14
        chisel:glassdyedbrown
        enderio:block_unholy_enlightened_fused_glass:13
        enderio:block_not_holy_dark_fused_glass:15
        agricraft:water_channel_valve
        enderio:block_unholy_enlightened_fused_glass:12
        enderio:block_not_holy_dark_fused_glass:14
        enderio:block_unholy_enlightened_fused_glass:11
        enderio:block_not_holy_dark_fused_glass:13
        enderio:block_unholy_enlightened_fused_glass:10
        enderio:block_dark_fused_glass:12
        enderio:block_not_holy_enlightened_fused_glass:13
        enderio:block_dark_fused_glass:13
        enderio:block_not_holy_enlightened_fused_glass:12
        enderio:block_dark_fused_glass:10
        enderio:block_not_holy_enlightened_fused_glass:11
        enderio:block_dark_fused_glass:11
        enderio:block_not_holy_enlightened_fused_glass:10
        chisel:glassdyedorange
        enderio:block_enlightened_fused_glass:15
        enderio:block_enlightened_fused_glass:14
        enderio:block_enlightened_fused_glass:13
        enderio:block_enlightened_fused_glass:12
        enderio:block_enlightened_fused_glass:11
        chisel:glasspanedyedlightblue
        enderio:block_enlightened_fused_glass:10
        enderio:block_not_unholy_enlightened_fused_glass:4
        enderio:block_not_unholy_enlightened_fused_glass:5
        enderio:block_not_unholy_enlightened_fused_glass:6
        enderio:block_not_unholy_enlightened_fused_glass:7
        enderio:block_not_unholy_enlightened_fused_glass:8
        enderio:block_not_unholy_enlightened_fused_glass:9
        enderio:block_not_unholy_enlightened_fused_glass:1
        enderio:block_not_unholy_enlightened_fused_glass:2
        enderio:block_not_unholy_enlightened_fused_glass:3
        enderio:block_pasture_dark_fused_glass:9
        enderio:block_pasture_dark_fused_glass:8
        enderio:block_pasture_dark_fused_glass:5
        enderio:block_pasture_dark_fused_glass:4
        enderio:block_pasture_dark_fused_glass:7
        enderio:block_pasture_dark_fused_glass:6
        enderio:block_pasture_dark_fused_glass:1
        enderio:block_pasture_dark_fused_glass:3
        enderio:block_pasture_dark_fused_glass:2
        enderio:block_not_unholy_fused_glass:15
        enderio:block_not_unholy_fused_glass:14
        enderio:block_not_unholy_fused_glass:13
        enderio:block_not_unholy_fused_glass:12
        enderio:block_not_unholy_fused_glass:11
        enderio:block_not_unholy_fused_glass:10
        enderio:block_holy_enlightened_fused_glass:9
        enderio:block_holy_enlightened_fused_glass:7
        enderio:block_holy_enlightened_fused_glass:8
        enderio:block_holy_enlightened_fused_glass:5
        enderio:block_holy_enlightened_fused_glass:6
        enderio:block_holy_enlightened_fused_glass:3
        enderio:block_holy_enlightened_fused_glass:4
        enderio:block_holy_enlightened_fused_glass:1
        enderio:block_holy_enlightened_fused_glass:2
        enderio:block_unholy_dark_fused_glass:12
        enderio:block_unholy_dark_fused_glass:13
        enderio:block_unholy_dark_fused_glass:14
        enderio:block_unholy_dark_fused_glass:15
        chisel:glassdyedpurple
        chisel:glasspane1
        enderio:block_unholy_dark_fused_glass:10
        chisel:planks-dark-oak
        enderio:block_unholy_dark_fused_glass:11
        chisel:glassdyedmagenta
        enderio:block_not_pasture_enlightened_fused_glass:15
        enderio:block_not_pasture_enlightened_fused_glass:14
        enderio:block_not_pasture_enlightened_fused_glass:13
        enderio:block_not_pasture_enlightened_fused_glass:12
        enderio:block_not_pasture_enlightened_fused_glass:11
        enderio:block_not_pasture_enlightened_fused_glass:10
        enderio:block_fused_glass:9
        enderio:block_fused_glass:8
        agricraft:water_tank
        enderio:block_fused_glass:5
        enderio:block_not_holy_dark_fused_glass:8
        chisel:glassdyedgray
        enderio:block_fused_glass:4
        enderio:block_not_holy_dark_fused_glass:9
        enderio:block_fused_glass:7
        enderio:block_not_holy_dark_fused_glass:6
        enderio:block_fused_glass:6
        enderio:block_not_holy_dark_fused_glass:7
        enderio:block_fused_glass:1
        enderio:block_not_holy_dark_fused_glass:4
        enderio:block_not_holy_dark_fused_glass:5
        enderio:block_fused_glass:3
        enderio:block_not_holy_dark_fused_glass:2
        enderio:block_fused_glass:2
        enderio:block_not_holy_dark_fused_glass:3
        enderio:block_not_holy_dark_fused_glass:1
        chisel:glassdyedyellow
        chisel:glasspane
        chisel:glasspanedyedorange
        chisel:glasspanedyedbrown
        chisel:waterstone1
        agricraft:water_channel_full
     >
}


